@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");
// =======================================================================================
	@font-face{
		font-family: "icons";
		font-display: swap;
		src:
			url("../fonts/icons.woff2") format("woff2"),
			url("../fonts/icons.woff") format("woff");
		font-weight: normal;
		font-style: normal;
}
